#tableheader_2 {
	width: 500px;
	margin: 0 auto;

	background-color: #7B1113;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	text-align:center;
}

#Update {
	padding-top: 10px;
	text-align:	center;

}
