@charset "utf-8";
/* CSS Document */

div#form_table {
  /* let's say you want to center this <div id="centerme">Something</div>
	   and make it 60% wide but centered on the screen.*/
 /* background-color:#FFFFCC;*/
  margin:0 auto;
  width:35%; /* 60% - 4% = 56% */
  height:inherit; /* see above */
  border:none;
	position:absolute;
	top:50%; /* 100% - 60% = 40% / 2 = 20% */
	left:34%;  /* same as above */
/*	background:url(../Pictures/Capture.PNG) no-repeat top center; */
}

div#menu_1 {
	margin:0 auto;
	width:28%;
	border:none;
	position:absolute;
	top:45%;
	left:15%;
}

div#menu_2 {
  margin:0 auto;
  width:28%;
  height:inherit;
  border:none;
	position:absolute;
	top:45%;
	left:57%;
/*	background:url(../Pictures/Capture.PNG) no-repeat top center; */
}

div#menu_others {
  margin:0 auto;
  width:28%;
  height:inherit;
  border:none;
	position:absolute;
	top:54%;
	left:36%;
}

div#menu_1_forms{
	margin:0 auto;
	height:inherit;
	border:none;
	position: absolute;
	top:558px;
	left:802px;
	width: 30%;
}

div#menu_stocks{
	margin:0 auto;
	height:inherit;
	border: none;
	position:absolute;
	top:475px;
	width:331px;
	left:79px;
}
	
div#menu_account{
	margin:0 auto;
	height:inherit;
	border: none;
	position:absolute;
	top:69%;
	width:25%;
	left:72%;
}

div#menu_database{
	margin:0 auto;
	height:inherit;
	border: none;
	position:absolute;
	top:40%;
	width:25%;
	left:37.5%;
}

div#menu_settings{
	margin:0 auto;
	height:inherit;
	border: none;
	position:absolute;
	top:95%;
	width:25%;
	left:37.5%;
}

.align_right{
	text-align:right;
	font-family:Lucida Grande; 
	font-size:12px; 
	font-weight:bold;
	width:45%;
}

.align_center{
	text-align:center;
	font-family:Lucida Grande; 
	font-size:12px; 
	font-weight:bold;
}

#align_left{
	text-align:left;
}

#table{
	background-color:#EEE0E5;
	border:none;
}

#tableheader{
	height:4%;
	width:35%;
	left:34%;
	top:50.5%;
	position:absolute;
	margin:0 auto;
	
	background-color:#7B1113;
}

#tableheadername{
	height:4%;
	width:35%;
	left:35%;
	top:50.8%;
	position:absolute;
	margin:0 auto;
	font-family:Lucida Grande;
	color:white;
	font-size:14px;
	font-weight:bold;
}
.button{
	font-size:14px;
	font-family:Lucida Grande;
	background-color:#7B1113;
	color:white;
	border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.button:hover{
color:#7B1113;
	background-color:#dbb4c2;
	border-left: 1px solid #7B1113;
  border-right: 1px solid #7B1113;
  border-top: 1px solid #7B1113;
  border-bottom: 1px solid #7B1113;
}

#requiredLabel{
	font-family:Lucida Grande;
	font-size:11px;
	color:red;
	font-style:italic;
}

.table_footer{
	border:none;
	height:6px;
	margin:0 auto;
	background-color:#7B1113;
}

.menulist{
	width:120px;
}

.header_1{
	font-family:Lucida Grande;
	color:white;
	font-size:14px;
	font-weight:bold;
	background-color:#7B1113;
	
	margin-left:10px;
	border:none;
}

.header_rows{
	background-color:#7B1113;
}

.no_border_table{
	border:none;
}

.header_2{
	font-family:Lucida Grande;
	color:white;
	font-size:12px;
	font-weight:bold;
	background-color:#7B1113;
	
	margin-left:10px;
	border:none;
}

.menubtn{
	height:20px;
	width:100%;
	font-size:14px;
	font-family:Lucida Grande;
	background-color:#EEE0E5;
	color:#030;
	border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.menubtn:hover{
	font-weight:bold;
	color:#060;
	border-left: 1px solid #7B1113;
  border-right: 1px solid #7B1113;
  border-top: 1px solid #7B1113;
  border-bottom: 1px solid #7B1113;
}

.main_menu_header{
	width:10%;
	text-align:center;
	background-color:#7B1113; 
	font-family:Lucida Grande; 
	color:white; 
	font-size:16px;
	 font-weight:bold;
}

.labels{
	 background-color:#CCC;
	 font-family:Lucida Grande; 
	 font-size:14px;
	 text-align:center;
}

.button2{
	width:100%;
	font-size:10px;
	font-family:Lucida Grande;
	background-color:white;
	color:#7B1113;
	border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.button2:hover{
font-weight:bold;
	color:#060;
	/*	background:#EEE0E5;;*/
	border-left: 1px solid #7B1113;
  border-right: 1px solid #7B1113;
  border-top: 1px solid #7B1113;
  border-bottom: 1px solid #7B1113;
}

.bkgrnd_white{
	background-color:white;
}

.linkBtn{
	text-decoration:none;
	width:100%;
	font-size:14px;
	font-family:Lucida Grande;
	background-color:white;
	color:#7B1113;
	border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.linkBtn:hover{
	color:white;
	background-color:#7B1113;
/*	background:#EEE0E5;;*/
	border-left: 1px solid #7B1113;
  border-right: 1px solid #7B1113;
  border-top: 1px solid #7B1113;
  border-bottom: 1px solid #7B1113;
}

.txtfield_no_borders{
	width:100%;
	text-align:center;
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:none;
}

.no_border{
	width:35;
	text-align:center;
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:none;
}

.smallbutton{
	font-size:11px;
	font-family:Lucida Grande;
	background-color:#7B1113;
	color:white;
	border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.smallbutton:hover{
	color:#7B1113;
	background-color:#dbb4c2;
	border-left: 1px solid #7B1113;
  border-right: 1px solid #7B1113;
  border-top: 1px solid #7B1113;
  border-bottom: 1px solid #7B1113;
}

.center_text_field{
	text-align:center;
	font-family:Lucida Grande;
	font-size:12px;
}

.no_text_decoration{
	text-decoration:none;
}

.required {
	background-color: #FFC;
}

.required_menulist {
	background-color: #FFC;
	width:120px;
}
